<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097154555700-jgm0fsppvgbungjrer2ucp14pqmj8lv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097154555700-jgm0fsppvgbungjrer2ucp14pqmj8lv3</string>
	<key>API_KEY</key>
	<string>AIzaSyB_PGuFh5FxluBY-5vqTue5eBxr84n9_7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1097154555700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surgeryArApp</string>
	<key>PROJECT_ID</key>
	<string>surgery-ar-app</string>
	<key>STORAGE_BUCKET</key>
	<string>surgery-ar-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097154555700:ios:e5210f7e0526461b927f61</string>
</dict>
</plist>